@model IEnumerable<CriticTextReview>
<!DOCTYPE html>
<html>
<body>
    <form class="align-self-baseline" asp-controller="CriticsTextReviews" asp-action="Index" method="get">
        <a asp-action="Create">Add new critic</a>
        @foreach (CriticTextReview criticTextReview in Model)
        {
            <div class="align-self-baseline">
                <h4 class="align-self-baseline">@criticTextReview.Text</h4><br />
                <h4 class="align-self-baseline">@criticTextReview.GameId</h4><br />
                <h4 class="align-self-baseline">@criticTextReview.CriticId</h4><br />
                <a class="align-self-baseline" asp-action="Delete" asp-route-id="@criticTextReview.Id">Delete</a>
                <a class="align-self-baseline" asp-action="Get" asp-route-id="@criticTextReview.Id">Get</a>
                <a class="align-self-baseline" asp-action="Update" asp-route-id="@criticTextReview.Id">Update</a>
            </div>
        }
    </form>
</body>
</html>